pandas
numpy
seaborn
dill
matplotlib
scikit-learn
torch
random
torchvision
#-e .  #this is what connects to setup.py for mapping and installing all packages the command is in setup.py.
#^remove comment when necessary.
#to install all packages open terminal write: pip install -r requirements.txt
#in the requirements.txt there is a -e. that is mapped to setup.py and the entire package will be built that will have all the info from setup.py like the metadata.
# project.egg-info will be added to the folder after pip install which is the entire setup which will enable us to use this as a package later on. 